In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame & read the CSV
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-05-28 12:15:48,22.08,-159.32,75.2,88,20,10.29
1,1,Saint-Joseph,RE,2020-05-28 12:15:48,-21.37,55.62,82.4,45,20,6.93
2,2,Fortuna,US,2020-05-28 12:15:49,40.60,-124.16,55.0,100,90,3.36
3,3,Georgetown,MY,2020-05-28 12:15:49,5.41,100.34,87.8,79,20,6.93
4,4,Libreville,GA,2020-05-28 12:15:49,0.39,9.45,86.0,74,40,8.05

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
type(fig)

gmaps.figure.Figure

In [6]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-05-28 12:15:48,22.08,-159.32,75.20,88,20,10.29
1,1,Saint-Joseph,RE,2020-05-28 12:15:48,-21.37,55.62,82.40,45,20,6.93
3,3,Georgetown,MY,2020-05-28 12:15:49,5.41,100.34,87.80,79,20,6.93
4,4,Libreville,GA,2020-05-28 12:15:49,0.39,9.45,86.00,74,40,8.05
6,6,Hithadhoo,MV,2020-05-28 12:15:49,-0.60,73.08,84.11,74,48,11.23
10,10,Mahebourg,MU,2020-05-28 12:15:50,-20.41,57.70,78.80,69,20,14.99
12,12,Del Rio,US,2020-05-28 12:15:50,29.36,-100.90,75.20,73,75,6.93
14,14,East London,ZA,2020-05-28 12:15:50,-33.02,27.91,77.00,25,0,17.22
21,21,Butaritari,KI,2020-05-28 12:15:51,3.07,172.79,82.71,79,6,13.38
23,23,Rikitea,PF,2020-05-28 12:15:51,-23.12,-134.97,76.28,85,2,11.07

In [8]:
##To determine if there are any null
preferred_cities_df.count()

City_ID       185
City          185
Country       181
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [9]:
#column_name=['City_ID','City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp',
       #'Humidity', 'Cloudiness', 'Wind Speed']

In [10]:
#preferred_cities_df.isnull()

In [11]:
preferred_cities_df=preferred_cities_df.dropna()

In [12]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-05-28 12:15:48,22.08,-159.32,75.20,88,20,10.29
1,1,Saint-Joseph,RE,2020-05-28 12:15:48,-21.37,55.62,82.40,45,20,6.93
3,3,Georgetown,MY,2020-05-28 12:15:49,5.41,100.34,87.80,79,20,6.93
4,4,Libreville,GA,2020-05-28 12:15:49,0.39,9.45,86.00,74,40,8.05
6,6,Hithadhoo,MV,2020-05-28 12:15:49,-0.60,73.08,84.11,74,48,11.23
10,10,Mahebourg,MU,2020-05-28 12:15:50,-20.41,57.70,78.80,69,20,14.99
12,12,Del Rio,US,2020-05-28 12:15:50,29.36,-100.90,75.20,73,75,6.93
14,14,East London,ZA,2020-05-28 12:15:50,-33.02,27.91,77.00,25,0,17.22
21,21,Butaritari,KI,2020-05-28 12:15:51,3.07,172.79,82.71,79,6,13.38
23,23,Rikitea,PF,2020-05-28 12:15:51,-23.12,-134.97,76.28,85,2,11.07

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0             Kapaa      US     75.20  22.08 -159.32
1      Saint-Joseph      RE     82.40 -21.37   55.62
3        Georgetown      MY     87.80   5.41  100.34
4        Libreville      GA     86.00   0.39    9.45
6         Hithadhoo      MV     84.11  -0.60   73.08
..              ...     ...       ...    ...     ...        ...
547        Lakatoro      VU     77.45 -16.10  167.42
548  Saint-Francois      FR     79.00  46.42    3.91
557   Santo Domingo      DO     82.99  18.50  -69.99
560         Sal Rei      CV     78.80  16.18  -22.92
564        Oussouye      SN     86.00  12.48  -16.55

[181 rows x 6 columns]

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,75.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,Saint-Joseph,RE,82.40,-21.37,55.62,"""Plantation Bed and Breakfast"
3,Georgetown,MY,87.80,5.41,100.34,Cititel Penang
4,Libreville,GA,86.00,0.39,9.45,Hotel Re-Ndama
6,Hithadhoo,MV,84.11,-0.60,73.08,Scoop Guest House
...,...,...,...,...,...,...
547,Lakatoro,VU,77.45,-16.10,167.42,Lakatoro Palm Lodge
548,Saint-Francois,FR,79.00,46.42,3.91,Manoir Du Bonheur
557,Santo Domingo,DO,82.99,18.50,-69.99,Micro Hotel Condo Suites
560,Sal Rei,CV,78.80,16.18,-22.92,Marine Club Beach Resort
564,Oussouye,SN,86.00,12.48,-16.55,Auberge du Routard

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))